/*Menu & Bloc 1*/
@media screen and (max-width: 1800px) {
  #slogan {
    padding-bottom: 22%;
  }
}
@media screen and (max-width: 1650px) {
  .slogan_form {
    left: 300px;
  }
  form {
    left: -435px;
  }
  #slogan {
    padding-bottom: 17%;
  }
}
@media screen and (max-width: 1450px) {
  form {
    left: 40%;
  }
  .slogan_form {
    left: 185px;
    top: 100px;
  }
  .slider {
    width: 100%;
  }
  #slogan {
    padding-bottom: 14%;
  }
}
@media screen and (max-width: 1300px) {
  #slogan {
    padding-bottom: 9%;
  }
  .slogan_form {
    left: 80px;
    top: 80px;
  }
  form {
    left: 35%;
    top: 175px;
  }
  .owl-prev {
    left: -400px;
  }
  .owl-next {
    left: 415px;
    top: -105px;
  }
  #bloc_bg-2 #left {
    left: 2%;
  }
  #bloc_bg-2 #right {
    left: 4%;
    top: 20px;
    float: none;
  }
}
@media screen and (max-width: 1200px) {
  #slogan {
    padding-bottom: 6%;
  }
  #bloc_bg_1 {
    background: url("../img/bg-bloc1.png") no-repeat 45%;
  }
  #slogan h1 {
    padding-top: 32px;
  }
  #bloc_bg-2 {
    height: 2060px;
  }
  #bloc_bg-2 #dostijenia li {
    padding-right: 90px;
  }
  #bloc_bg-2 #left {
    left: 2%;
  }
  #bloc_bg-2 #right {
    left: 3%;
    top: 20px;
    float: none;
  }
  #bloc_bg-2 .button {
    width: 33%;
  }
  .slogan_form {
    font-size: 38px;
  }
  #bl_slider {
    height: 480px;
  }
  #content_slider #sp_slider li {
    padding-top: 160px;
  }
  .slider img {
    width: 100%;
  }
  #bloc_bg-2 #usluga {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  #bloc_bg-2 #left {
    left: 21%;
  }
  #bloc_bg-2 #right {
    left: 20%;
  }
  .slogan_form {
    font-size: 32px;
  }
  form {
    left: 30%;
  }
  #content_slider {
    top: -535px;
  }
  #content_slider h4 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  #content_slider #text_content_slider {
    width: 70%;
    padding-bottom: 20px;
  }
  #content_slider #sp_slider li {
    font-size: 15px;
    margin-right: 35px;
  }
  #otz {
    height: 440px;
  }
  #otz h5 {
    padding-top: 70px;
  }
  #otz .owl-carousel {
    margin: 30px auto 0;
  }
}
@media all and (max-width: 950px) {
  #right_menu ul li:first-child {
    border: none;
  }
  .nav {
    position: relative;
    min-height: 40px;
  }
  .nav ul {
    width: 150px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/MenuIco.png) no-repeat 10px 11px;
    border-radius: 5px;
  }
  .nav li {
    display: none;
    /* скрыть все <li> пункты */
    margin: 0;
  }
  .nav .current {
    display: block;
    /* показывать только текущие активные <li> пункты */
  }
  .nav a {
    display: block;
    padding: 5px 5px 0 32px;
    text-align: left;
  }
  .nav .current a {
    background: none;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  /* при наведении на пункты меню */
  .nav ul:hover {
    background-image: none;
  }
  .nav ul:hover li {
    display: inline-block;
  }
  .nav ul:hover .current {
    background: url('../img/MenuIco.png') no-repeat 10px 7px;
  }
  .nav ul li a:hover {
    padding-bottom: 0;
    border: none;
  }
  /* адаптивное меню справа */
  .nav.right ul {
    left: auto;
    right: 0;
  }
  /* адаптивное меню по центру */
  .nav.center ul {
    left: 50%;
    margin-left: -90px;
  }
  #slogan h1 span {
    text-shadow: 4px 2px 4px black;
  }
  #bloc_bg-2 #text {
    width: 85%;
  }
  #content_slider #text_content_slider {
    width: 95%;
  }
  #content_slider {
    top: -490px;
  }
  .slogan_form {
    font-size: 30px;
  }
  #otz h5 {
    padding-top: 0;
  }
}
@media all and (max-width: 850px) {
  #bloc_bg_1 {
    background: url("../img/bg-bloc1.png") no-repeat 100%;
    height: 751px;
  }
  #slogan p {
    text-shadow: 4px 2px 4px black;
  }
  #bloc_bg-2 #dostijenia li {
    padding-right: 50px;
    font-size: 14px;
  }
  #bloc_bg-2 #left {
    left: 16%;
  }
  #bloc_bg-2 #right {
    left: 15%;
  }
  #bloc_bg-2 .button {
    width: 43%;
  }
  .slogan_form {
    left: 45px;
  }
  form {
    left: 27%;
  }
  #content_slider #sp_slider {
    display: none;
  }
  #content_slider {
    top: -360px;
  }
  #otz h5 {
    padding-top: 0;
  }
  #bl_slider {
    height: 400px;
  }
}
@media all and (max-width: 780px) {
  #slogan p {
    padding-left: 100px;
  }
  #bloc_bg-2 #left {
    left: 12%;
  }
  #bloc_bg-2 #right {
    left: 11%;
  }
  .slogan_form {
    font-size: 26px;
  }
  form {
    left: 25%;
  }
  #bl_slider {
    height: 380px;
  }
}
@media screen and (max-width: 680px) {
  #hellopreloader {
    display: none;
  }
  #slogan {
    margin: 140px 0 0 16%;
  }
  #slogan h1,
  #slogan h1 span {
    text-shadow: 4px 2px 2px black;
    font-size: 35px;
  }
  #slogan p {
    padding-left: 40px;
  }
  #slogan .button {
    margin: 50px 0 0 30px;
  }
  #bloc_bg-2 {
    height: 2120px;
  }
  #bloc_bg-2 #left {
    left: 3%;
  }
  #bloc_bg-2 #right {
    left: 1%;
  }
  .slogan_form {
    font-size: 22px;
  }
  form {
    left: 20%;
  }
  #otz {
    height: 600px;
  }
  #bl_slider {
    height: 340px;
  }
  #content_slider {
    top: -335px;
  }
  #otz .slid1 img {
    float: none;
    margin-left: 0;
  }
  #otz .slid1 .otziv1 {
    float: none;
    width: 400px;
    margin: 0 auto;
  }
  #otz .slid1 .otziv1 span {
    padding-left: 200px;
  }
  #bloc_bg-2 #dostijenia li {
    padding-right: 35px;
  }
}
@media screen and (max-width: 600px) {
  #right_menu {
    margin-top: 5px;
  }
  #right_menu ul li {
    padding-left: 20px;
  }
  #slogan {
    margin: 140px 0 0 12%;
  }
  #slogan h1,
  #slogan h1 span {
    font-size: 28px;
  }
  #slogan p {
    padding-left: 0;
  }
  #slogan .button {
    margin: 50px 0 0 0;
    padding: 25px 90px;
  }
  #bloc_bg-2 {
    height: 2645px;
  }
  #bloc_bg-2 #dostijenia li {
    padding-top: 10px;
  }
  #bloc_bg-2 #left img {
    width: 57%;
    text-align: center;
    left: 0;
  }
  #bloc_bg-2 #left {
    left: 0;
  }
  #bloc_bg-2 #left p {
    font-size: 28px;
    top: 176px;
    left: 130px;
  }
  #bloc_bg-2 #right {
    left: 0;
  }
  #bloc_bg-2 #right #one {
    text-align: center;
  }
  #bloc_bg-2 #right #one #one_child {
    float: none;
  }
  #bloc_bg-2 #usluga {
    text-align: center;
  }
  #bloc_bg-2 #right #one li,
  #bloc_bg-2 #right #two li {
    float: none;
  }
  #bloc_bg-2 #right #one #one_child p {
    left: 177px;
  }
  #bloc_bg-2 #right #one #two_child p {
    top: 400px;
    left: 177px;
  }
  #bloc_bg-2 #right #two #one_wto p {
    top: 710px;
    left: 140px;
  }
  #bloc_bg-2 #right #two #two_two p {
    top: 985px;
    left: 200px;
  }
  .slogan_form {
    left: 100px;
    width: 264px;
    text-align: center;
    font-size: 18px;
  }
  form {
    left: 10%;
  }
  #content_slider #text_content_slider {
    display: none;
  }
  #bl_slider {
    height: 250px;
  }
  #content_slider {
    top: -180px;
  }
  #otz .slid1 {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  #bloc_bg_1 {
    background: url("../img/bg-bloc1.png") no-repeat;
  }
  #slogan {
    margin: 115px 0 0 5%;
  }
  #bloc_bg-2 {
    height: 2700px;
  }
  #bloc_bg-2 .button {
    width: 53%;
  }
  #bloc_bg-2 #left p {
    font-size: 22px;
    top: 176px;
    left: 90px;
  }
  #bloc_bg-2 #left img {
    width: 71%;
  }
  #bloc_bg-2 #right #one #one_child p {
    left: 120px;
  }
  #bloc_bg-2 #right #one #two_child p {
    left: 115px;
  }
  #bloc_bg-2 #right #two #one_wto p {
    left: 100px;
  }
  #bloc_bg-2 #right #two #two_two p {
    left: 140px;
  }
  #bl_slider {
    height: 200px;
  }
  .slogan_form {
    left: 55px;
  }
  form input {
    width: 81%;
  }
  form {
    left: 3%;
    width: 86%;
  }
  form button {
    padding: 12px 33px;
    margin-left: 14%;
  }
  #otz .slid1 .otziv1 {
    width: 86%;
  }
  .perehod2 ul {
    padding-right: 0;
  }
}
@media screen and (max-width: 350px) {
  #right_menu {
    padding-right: 30px;
  }
  #slogan h1,
  #slogan h1 span {
    font-size: 22px;
  }
  #slogan p {
    font-size: 32px;
  }
  #slogan .button {
    padding: 25px 65px;
  }
  #bloc_bg-2 {
    height: 2800px;
  }
  #bloc_bg-2 .button {
    padding: 25px 65px;
  }
  #bloc_bg-2 #left img {
    width: 84%;
  }
  .slogan_form {
    left: 24px;
  }
  #content_slider h4 {
    font-size: 28px;
  }
  #content_slider {
    top: -128px;
  }
  #bl_slider {
    height: 165px;
  }
  #otz .slid1 .otziv1 span {
    padding-left: 130px;
  }
  #otz h5 {
    font-size: 28px;
  }
  .perehod2 ul li {
    font-size: 14px;
  }
  .perehod2 p {
    font-size: 14px;
  }
  .perehod {
    height: 100px;
  }
}
